In [1]:
import numpy as np
import pandas as pd

In [2]:
data=pd.read_csv('/content/creditcard.csv')

In [3]:
data.head()

   Time        V1        V2        V3  ...       V27       V28  Amount  Class
0     0 -1.359807 -0.072781  2.536347  ...  0.133558 -0.021053  149.62    0.0
1     0  1.191857  0.266151  0.166480  ... -0.008983  0.014724    2.69    0.0
2     1 -1.358354 -1.340163  1.773209  ... -0.055353 -0.059752  378.66    0.0
3     1 -0.966272 -0.185226  1.792993  ...  0.062723  0.061458  123.50    0.0
4     2 -1.158233  0.877737  1.548718  ...  0.219422  0.215153   69.99    0.0

[5 rows x 31 columns]

In [8]:
data.tail()

        Time        V1        V2        V3  ...       V27       V28  Amount  Class
13948  24753 -0.565780  0.754977  0.737825  ... -0.195727 -0.104007  232.00    0.0
13949  24754  1.252924 -0.182189 -0.802716  ... -0.051402  0.005112   23.74    0.0
13950  24756 -0.346979 -2.103284 -0.685061  ... -0.149931  0.129795  794.20    0.0
13951  24759 -6.053652 -5.988723  0.810413  ... -0.700463  2.508443   60.00    0.0
13952  24759  1.169121 -1.284945  0.032717  ...  0.015029  0.032067   90.00    0.0

[5 rows x 31 columns]

In [4]:
data.isnull().sum()

Time      0
V1        0
V2        0
V3        0
V4        0
V5        0
V6        0
V7        0
V8        0
V9        0
V10       0
V11       0
V12       0
V13       0
V14       0
V15       0
V16       0
V17       0
V18       0
V19       0
V20       0
V21       0
V22       0
V23       0
V24       0
V25       0
V26       0
V27       0
V28       0
Amount    1
Class     1
dtype: int64

In [5]:
data.dropna(inplace=True)

In [6]:
data.isnull().sum()

Time      0
V1        0
V2        0
V3        0
V4        0
V5        0
V6        0
V7        0
V8        0
V9        0
V10       0
V11       0
V12       0
V13       0
V14       0
V15       0
V16       0
V17       0
V18       0
V19       0
V20       0
V21       0
V22       0
V23       0
V24       0
V25       0
V26       0
V27       0
V28       0
Amount    0
Class     0
dtype: int64

In [7]:
data['Class'].value_counts()

0.0    13897
1.0       56
Name: Class, dtype: int64

This data is highly unbalanced

0: Normal Transaction
1: Fraud Transaction

In [16]:
legit=data[data.Class==0]
fraud=data[data.Class==1]

In [17]:
print(legit.shape)
fraud.shape

(13897, 31)

(56, 31)

In [18]:
legit_sample=legit.sample(n=56)

In [19]:
legit_sample.shape

(56, 31)

In [20]:
new_data=pd.concat([legit_sample,fraud],axis=0)

In [24]:
new_data.head(5)

        Time        V1        V2        V3  ...       V27       V28   Amount  Class
10776  18336  1.077549  0.389295  1.806577  ...  0.018941  0.036979    15.21    0.0
6199    7222 -0.401376  1.218133  1.550708  ...  0.217523  0.084799     3.56    0.0
3200    2785 -0.378752  0.584419  0.965938  ...  0.228425 -0.029216     1.00    0.0
2100    1616 -2.029383 -0.484746  0.610536  ... -0.024924 -0.351648   112.18    0.0
13137  23069 -2.133012 -5.700010 -0.596931  ... -0.346364  0.279965  1670.28    0.0

[5 rows x 31 columns]

In [25]:
from sklearn.model_selection import train_test_split

In [28]:
features=new_data.drop('Class',axis=1)
target=new_data['Class']

In [29]:
x_train,x_test,y_train,y_test=train_test_split(features,target,train_size=0.8,random_state=1)

In [30]:
from sklearn.linear_model import LogisticRegression

In [31]:
model=LogisticRegression()

In [32]:
pred=model.fit(x_train,y_train).predict(x_test)

/usr/local/lib/python3.7/dist-packages/sklearn/linear_model/_logistic.py:940: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  extra_warning_msg=_LOGISTIC_SOLVER_CONVERGENCE_MSG)

In [33]:
from sklearn import metrics

In [34]:
metrics.r2_score(y_test,pred)

1.0

In [35]:
y_test

9252     1.0
2738     0.0
541      1.0
8312     1.0
6609     1.0
10897    1.0
10630    1.0
4920     1.0
6796     0.0
252      0.0
6427     1.0
9487     1.0
3200     0.0
10690    1.0
11710    1.0
1243     0.0
10568    1.0
10484    1.0
9179     1.0
7096     0.0
6774     1.0
11923    0.0
6899     1.0
Name: Class, dtype: float64

In [36]:
pred

array([1., 0., 1., 1., 1., 1., 1., 1., 0., 0., 1., 1., 0., 1., 1., 0., 1.,
       1., 1., 0., 1., 0., 1.])

In [39]:
print('Accuracy score on test data is ',metrics.r2_score(y_test,pred)*100,'%')

Accuracy score on test data is  100.0 %